@import url('https://fonts.googleapis.com/css?family=Kameron|Raleway:300,400&display=swap');

body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
}

.container {
  width: 950px;
  margin: 0 auto;
}

/*BANNER*/

.banner {
  height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.2)), url(images/coffee_white.jpg) no-repeat;
  background-size: cover;
}


/*NAVBAR*/

#navbar {
  display: flex;
  justify-content: space-between;
  margin: 0 40px;
}

.nav-list {
  display: flex;
  list-style: none;
  margin-top: 40px;
}

.nav-element a {
  margin-left: 100px;
  padding-bottom: 6px;
  color: white;
}

.nav-element a:hover {
  border-bottom: 5px dotted #8CAF4C;
}

#logo {
  width: 200px;
  height: auto;
  border-radius: 0 0 4px 4px;
  border: 20px solid white;
}


/*INTRO*/

.intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
}

.intro-text {
  margin-top: 50px;
  color: white;
  text-align: center;
}

.intro-text h1 {
  font-family: 'Kameron', serif;
  letter-spacing: 2px;
  font-size: 48px;
}

.intro-text p {
  font-size: 26px;
  font-weight: lighter;
  margin-bottom: 70px;
}

.booking-button {
  background: #8CAF4C;
  padding: 16px 32px;
  color: white;
  border-radius: 2px;
}

.booking-button:hover {
  background: #5B7245;
}


/*OUR STORY*/

.story {
  margin-top: 100px;
  width: 700px;
}

.story h2 {
  font-family: 'Kameron', serif;
  letter-spacing: 2px;
  font-size: 28px;
}

.story p {
  font-size: 18px;
}

