@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap');

body{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

.container {
  width: 800px;
  margin: 40px auto;
  position: relative;
}

h1, h2 {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  color: #FB161B;
}

.grey-square {
  background: #222F3E;
  width: 800px;
  border-radius: 2px;
}

.cart {
  width: 270px;
  padding: 30px 25px;
}

.item {
  display: flex;
  justify-content: space-between;
}

.item-name, .price-sum {
  color: white;
}

.item-price {
  color: #AAAAAA;
}

.total {
  margin-top: 150px;
}

.order-total {
  text-transform: uppercase;
  color: #AAAAAA;
}

.checkout {
  background: #EBEBEB;
  width: 380px;
  padding: 30px 25px;
  border-radius: 2px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  position: absolute;
  top: 230px;
  right: 30px;
}


