@import url('https://fonts.googleapis.com/css?family=Nothing+You+Could+Do|Open+Sans&display=swap');

* {
  border: none;
}

.container{
  width: 400px;
  height: 600px;
  background: white;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

body{
  font-family: 'Open Sans', sans-serif;

}

h1 {
  font-family: 'Nothing You Could Do', cursive;
  font-size: 36px;
  text-transform: uppercase;
  margin: 50px 0;
}

h2 {
  font-weight: normal;
  margin-bottom: 50px;
  margin-top: 0;
  text-align: center;
}

#sign-up-form {
  display: flex;
  flex-direction: column;
}

.input-field {
  margin-bottom: 16px;
}

label {
  float: left;
  text-align: right;
  margin-right: 15px;
  width: 80px;
}

.field {
  border-bottom: 1px solid black;
}

#sign-up-button {
  border-radius: 34px;
  background-image: linear-gradient(to right, #E7346C, #FE8706);
  font-size: 16px;
  padding: 14px 2px;
  margin-top: 24px;
  color: white;
}



